//configuración de variables de entorno para el proyecto Vite con Firebase

VITE_FIREBASE_API_KEY= //clave de API de Firebase
VITE_FIREBASE_AUTH_DOMAIN= //dominio de autenticación de Firebase
VITE_FIREBASE_PROJECT_ID= //ID del proyecto de Firebase
VITE_FIREBASE_STORAGE_BUCKET= //bucket de almacenamiento de Firebase
VITE_FIREBASE_MESSAGING_SENDER_ID= //ID del remitente de mensajería de Firebase
VITE_FIREBASE_APP_ID= //ID de la aplicación de Firebase